.headplaylist {
  display: flex;
  flex-direction: column;

  &__header {
    margin: 2rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;

    &--img {
      width: 15rem;
      height: 15rem;
      margin-right: 1rem;
      border-radius: 1rem;
    }

    &--1 {
      font-size: 5rem;
      font-family: "Otomanopee One", sans-serif;
      color: white;
      text-transform: uppercase;
      transition: all 0.2s;
    }
  }

  &__songs {
    margin: 1rem;
  }
}
