.hoclink {
  position: relative;

  &__img {
    width: 30rem;
    height: 30rem;
    // border: 1px solid #fff;
    margin: 1.2rem 0;
    transition: all 0.2s;
    box-shadow: 0 1rem 3rem rgba(black, 0.15);

    &:hover {
      box-shadow: 0 1rem 3rem rgba(white, 0.15);
    }
  }

  &__title {
    width: 80%;
    height: 3.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;

    position: absolute;
    top: 85%;
    left: 10%;
    text-align: left;
  }
}
