.hoclink {
  position: relative;
  margin: 0.8rem 0;

  &__img {
    width: 30rem;
    height: 33rem;
    padding: 2rem 2rem 5rem 2rem;
    border-radius: 3%;
    // border: 1px solid #fff;
    background-color: rgb(53, 88, 88);
    margin: 1.2rem 0;
    transition: all 0.2s;
    box-shadow: 0 1rem 3rem rgba(black, 0.15);

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 3rem rgba(white, 0.15);
    }
  }

  &__title {
    width: 80%;
    height: 3.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;

    position: absolute;
    top: 85%;
    left: 10%;
    text-align: left;
  }
}
