.home {
  display: flex;
  height: 88vh;

  &__content {
    background-color: darkslategray;
    overflow-y: auto;

    flex: 1;
    display: flex;

    &--item {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
