.home {
  display: flex;
  height: 88vh;

  &__content {
    background-color: darkslategray;
    overflow-y: auto;

    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem 3rem;
    justify-items: center;
  }
}
