.form-main {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.label {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 700;
}

.input {
  height: 3.2rem;
  font-size: 100px;
}

.input::placeholder {
  font-size: 1.2rem;
}

.btn-in {
  background-color: #fdf5f2;
  border: 1px solid #ccc;
  height: 3.4rem;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.btn-in:hover {
  background-color: #fcece9;
}

.a-tag_signin {
  color: #404040;
  cursor: pointer;
  float: right;
  font-size: 1.3rem;
}

.a-tag_signin:hover {
  color: #686868;
}

.a-tag_new-user {
  color: #404040;
  cursor: pointer;
  float: left;
  font-size: 1.3rem;
}

.a-tag_new-user:hover {
  color: #686868;
}

.spinner_signin {
  position: absolute;
}
