.sidebar {
  background-color: black;
  flex: 0 0 15%;
  height: 88vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--nav-ul {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: column;
  }

  &--nav-li {
    position: relative;
    width: 90%;
    margin: auto;
  }

  &--li-item {
    font-size: 1.7rem;
    color: grey;
    padding: 1.2rem 2rem;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 700;
    transition: all 0.2s;

    display: flex;

    &:hover {
      color: white;
    }
  }

  a {
    text-align: left;
  }

  &--nav-logo {
    height: 15rem;
    margin-left: 1rem;

    &-icon {
      width: 80%;
      height: 100%;
    }
  }

  &--nav-icon {
    margin: 3px 1.5rem 0 0;
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }

  &--legal {
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.active {
  color: white;
  background-color: rgba(white, 0.12);
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  .sidebar {
    flex: 0 0 18%;

    &--nav-logo {
      width: auto;
      height: auto;
    }

    &--legal {
      margin: 1rem 5px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .sidebar {
    flex-direction: row;
    padding: 1rem;
    flex: 0 0 5vh;
    justify-content: space-evenly;

    &--nav-ul {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }

    &--nav-li {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }

    &--li-item {
      padding: 1rem;
    }

    &--nav-logo {
      visibility: hidden;
      opacity: 0;
    }

    &--nav-icon {
      margin: 1px 1rem 0 0;
    }

    &--legal {
      display: none;
    }
  }
}

@media only screen and (max-width: 310px) {
  .sidebar {
    font-size: 1rem;

    &--li-item {
      padding: 0.5rem;
    }
  }
}
