.forget-password {
  &__header {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 800;
    font-size: 3.5rem;
  }

  &__input {
    height: 3rem;
    width: 27rem;
    font-size: 1.3rem;
    margin: 1rem;

    &::placeholder {
      font-size: 1.3rem;
    }
  }

  &__btn {
    height: 3rem;
    width: 8rem;
  }

  &__spinner {
    margin: 1rem auto;
    position: absolute;
  }
}
