.hocplayer {
  &__player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.932);
  }
}

.rhap_time {
  color: #fff;
}

.rhap_repeat-button {
  display: none;
  opacity: 0;
}

.rhap_main-controls-button {
  &:hover {
    color: #fff;
  }
}
